## 꼭 알아둬야 할 자료구조: 배열 (Array)

- 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
- 파이썬에서는 리스트 타입이 배열 기능을 제공하고 있음.

## 1. 배열이 왜 필요할까?

- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장하게 됨.

- 배열의 장점:
  - 빠른 접근이 가능하다. 굳이 처음부터 다 찾을 필요 없이 index 값만 알게 되면 빠르게 특정 데이터를 접근할 수 있다는 점이 특징. 너무 간단하고 당연한 자료구조이지만 장점은 알아둬야 한다. 

- 배열의 단점:
  - 나는 6자리 정도의 연관된 데이터를 넣을 것이다. 라고 사전에 정의를 해줘야함. 연관된 데이터의 추가가 어렵다는 것이 단점.
  - 데이터가 가변적이라면 데이터를 추가하거나 삭제할 때 뒤에 있는 데이터를 땡긴다던지, 데이터 공간을 따로 마련을 해서 다시 배열을 생성해야 한다든지 해야하기 때문에 데이터의 추가, 삭제 부분에 있어서 쉽지가 않다.

## 2. 파이썬과 C언어의 배열 예제

In [ ]:
#include <stdio.h>

int main(int argc, char * argv[])
{
    char country[3] = 'US';
    printf("%c%c\n", country[0], country[1]);
    printf("%s\n", country);
    return 0;
}

# 이처럼 C언어에서는 변수의 길이를 미리 저장을 해줘야만 하고, 추가하려면 새로운 변수로 새롭게 지정해줘야 
# 한다.

In [2]:
# 하지만 파이썬에서는 알아서 늘려줌
country = 'US'
print(country)

country = country + 'A'
print(country)

US
USA

## 3. 파이썬과 배열
- 파이썬에서는 결과적으로는 리스트를 활용한다.

In [3]:
# 1차원 배열: 리스트로 구현 시
data = [1, 2, 3, 4, 5]
data

[1, 2, 3, 4, 5]

In [4]:
# 2차원 배열: 리스트로 구현 시
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
print(data[0])

[1, 2, 3]

In [7]:
print(data[0][0])
print(data[0][1])

1
2

In [8]:
print(data[2][2])
print(data[2][1])
print(data[2][0])

9
8
7

In [9]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [14]:
count = 0
for name in dataset:
    for string in name:
        if string == 'M':
            count += 1
            
print(count)

38